header {
  @include tablet {
    height: 80px;
  }
  @include tablet_lc {
    height: 60px;
  }
  @include mobile {
    height: 60px;
  }
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  & > .container-fluid {
    @include mobile {
      display: none;
    }
    ul {
      display: flex;
      margin-left: 30px;
      align-items: center;
      li {
        margin-right: 30px;

        &:last-child {
          margin-left: -10px;
          display: flex;
          align-items: center;
        }
        svg {
          * {
            fill: $black-cl;
          }
        }
      }
    }
  }
  .main-menu {
    @include mobile {
      display: none;
    }
    &.active {
      @include mobile {
        display: none;
      }
      @include visible;
      @include transition($t);
    }
    @include hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: $black-cl;
    z-index: 2;
    @include transition($t);
    ul {
      @include midFlex;
      height: 100%;
      width: 100%;
      li {
        @include transition($t);
        &.img {
          &::after {
            display: none;
          }
        }
        @include transition($t);
        z-index: 9999;
        @include desktop {
          margin: 0 20px;
        }
        @include tablet {
          margin: 0 10px;
        }
        min-width: 80px;
        height: 100%;
        margin: 0 30px;
        position: relative;
        a {
          text-align: center;
          @include transition($t);
          @include midFlex;
          height: 100%;
          width: 100%;
          color: $white-cl;
          img {
            width: 50px;
            filter: brightness(200%) saturate(0%);
            -webkit-filter: brightness(200%) saturate(0%);
            -moz-filter: brightness(200%) saturate(0%);
          }
        }
        &::after {
          content: "";
          position: absolute;
          left: 50%;
          @include transform(translateX(-50%) scale(0));
          top: 70%;
          background-color: $white-cl;
          width: 140px;
          height: 1px;
          @include transition($t);
        }
        &:hover::after {
          @include transform(translateX(-50%) scale(1));
        }
      }
    }
  }
}

.header__news-details {
  @include mobile {
    display: block !important;
  }
  display: flex;
  justify-content: space-between;
  img {
    margin: 20px auto;
  }
  ul {
    justify-content: center;
  }
}

.header__details-products {
  @include mobile {
    height: 160px;
  }
  height: 112px;
}
