* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
html,
body {
  width: 100%;
  max-width: $max-width;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  margin: auto;
  @include text($fz-text, $font-stack, $lh-text, $text-cl, uppercase, bold);
  background: $white-cl;
  position: relative;
  @include transition($t $cubic);
  // @include custom-scrollbar();
  .mainwrapper {
    @include transition($t $cubic);
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  @include desktop {
  }
  @include tablet {
  }
  @include mobile {
  }
}
